:root{
    --mycolor : rgb(43,255,0);
    --myBg : aquamarine;
}
.block{
    --mycolor: red;
    background-color: var(--myBg);

}
p{
    color: var(--mycolor);
}

/* :root e ca sa numesti variabilele si sa ramane aceleasi valori pentru variabile si sunt notate cu '--' */